/* colours */
:root{
  --primary: #07a899;
  --secondary: #027d71;
  --title: #1d3152;
}

body {
  top: 0;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: 0px;
	padding: 0px;
  font-family: Helvetica, sans-serif;	
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: contain;
}

.content{
  margin-top: 100px;
}



/* layout styles */
nav{
  position: fixed;
  z-index: 100;
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
  font-weight: bold;
  color: var(--title);
}

nav a{
  text-transform: uppercase;
  color: var(--title);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

nav .sidenav-trigger{
  margin: 0;
}

#side-menu .subheader{
  color: var(--title);
}

#ship-container{
  position: fixed;
  background-color: rgba(249,249,249,0.9);
  border-radius: 5px;
  padding: 10px 5px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}
#ship-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.22);
}
#submit_text{
  font-weight: bold;
  color: grey;
}
#ship-btn{
  animation: swing 4s infinite ease;
  transform-origin: bottom center;
}

@keyframes swing
{
  0%{ transform: rotate(-2deg);}
  50%{ transform: rotate(5deg);}
  100%{ transform: rotate(-2deg);}
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

/* prompt */
.ad2hs-prompt, .ad2hs-prompt-ios  {
  position: fixed;
  background-color: #1d3152; /* Blue */
  border: none;
  display: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size:13px;
  margin: 0 1rem 1rem;
  left: 0;
  right: 0;
  bottom: 25px;
  width: calc(100% - 32px);
  z-index: 999;
  line-height: 150%;
}
.ad2hs-prompt, .ad2hs-prompt-ios i{
  font-size: 14px;
}
.dismiss{
  font-size: 10px;
  font-style: italic;
}